body { background: green; color: white; }
h1 { text-align:center; font-size: 10vh; }
.board { text-align:center; display: inline-block;  position: relative; width: 60vw; height: 40vw; margin: auto; background: black; border-radius: 3vw }
.scores { position: absolute; top: 0; left: 0; right: 0; }
.player { font-size: 5vw; }
.player.one { float: left; margin-left: 1vw; }
.player.two { float: right; margin-right: 1vw; }
.ball {
  background: white; width: 3vw; height: 3vw; border-radius:3vw;
  position: absolute; top:50%; left:50%; transform:translate(-50%,-50%)  }
.paddle { position: absolute; top:50%; width: 1.5vw; height: 8vw; background: white; transform:translate(0,-50%) }
.paddle.one { left:3vw;  }
.paddle.two { right:3vw; }

.newgame{ margin: 40%;height: 8vw; width:15vw;border-radius: 5px; font-size: 2em; }

.winner{ display: none;}
.again{margin-top:"25px";height: 4vw; width:8vw; display: none;}

.scoreTable{ border-radius:5px; float: right; background: blue;  width: 30vw; height: 40vw; margin-right: 5%;}
.scoreList{ display: inline-block;  }
.scoreList li{ width: 10vw; height:3vw;}
.setWinner{display: inline-block; position: absolute;}
  